* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #eae9f2;
}

.icon-button {
  color: #4c2cbf;
  cursor: pointer;
  font-size: 32px;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50%;
  position: relative;
  height: 24px;
  width: 24px;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

#canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  /* pointer-events: none; */
}
